.rr--hf-svg-on{
    stroke: white;
    stroke-width: 1px;   
   }
   
   .rr--hf-svg-off{
     stroke: white;
    stroke-width: 1px;   
   }
   
   .rr--off{
     stroke: white;
     stroke-width: 1px; 
   }